/*=======================================
=            COLOR VARIABLES            =
=======================================*/

/* Style Guide Colors */

// THESE ARE THE NEW STYLE GUIDE COLORS - WE CAN UnCOMMENT THIS ONCE
// WE ARE ABLE TO REMOVE ALL STYLES IN THE COLOR MAP (BELOW), FOR NOW
// THESE ARE COPIED TO THAT MAP... Please use the color function:
// color(general, background) results in #FFFFFF

$blue : #26329F;
$blue-hover : #027BAA;
$black : #222;
$dark-gray : #555;
$medium-gray : #666;
$light-gray : #efeff4;
$gray : #999;
$white : #fff;
$text-link : #007aff;
