<html>

<head>
    <title>
        <%= title %>
    </title>
    <style>
        a {
            color: #061775;
        }
        
        a:hover {
            color: #000;
            text-decoration: none;
        }
        
        .grid {
            width: 28%;
            margin: 20px;
            border-right: 1px solid #EEE;
            float:left;
        }
    </style>
</head>

<body style="margin:0; font-family:arial;font-size:14px;">
    <div style="width:900px;padding:40px 0 40px 0;margin:0 auto; ">
        <img src="images/indiGoLogo.png">
        <div style="border-top:10px solid #061775; margin-top:10px;"></div>

        <h1>New Designs</h1>
        <div class="grid">
            <h3>Static Pages</h3>
            <ul>

                <li><a href="/homepage">Home Page</a></li>
                <li><a href="/homepage">Search Page</a></li>
            </ul>
        </div>

        <div class="grid">
            <h3>Search</h3>
            <ul>

                <li><a href="/homepage">Home Page</a></li>
            </ul>
        </div>

        <div class="grid" style="border-right:0">
            <h3>Booking / Checkout Journey</h3>
            <ul>

                <li><a href="/homepage">Home Page</a></li>
            </ul>
        </div>

        <div style="border-top:10px solid #061775; clear:both; margin-top:20px;"></div>
    </div>

</body>

</html>